.contacts__wrapper {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--page-padding);
}

.contacts {
  width: 90dvw;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts_list {
  grid-column: 1 / span 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contacts_card {
  grid-column: 2 / span 1;
}