.frame__container {
  width: 95dvw;
  height: 95dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 25px 25px 25px;
  border-radius: 40px;
  background-color: var(--soft);
  overflow: hidden;
  z-index: 50;
}

.frame__container iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.frame__close_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red);
  content: '';
  position: absolute;
  top: 15px;
  left: 30px;
  cursor: pointer;
  outline: none;
  border: none;
}

.frame__close_btn:hover {
  background-image: url(/src/assets/close-x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}