button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

button img {
  object-fit: cover;
  overflow: hidden;
}