.home {
  width: 90dvw;
  max-width: 1000px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-auto-rows: max-content;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 60px);
  padding: 50px 0;
}

.home__clock {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__contacts {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__notions {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__player {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__day_night_widget {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__calendar {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}
