.home {
  width: 90dvw;
  max-width: 1000px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-auto-rows: 60px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-rows: repeat(auto-fill, 60px);
  margin: 50px 0;
}

.home__clock {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__contacts {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__notes {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__player {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__day_night_widget {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__calendar {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__tech_stack {
  grid-column: span 1 / span 1;
  grid-row: span 1 / span 1;
}
