.home {
  width: 90vw;
  max-width: 1000px;
  padding: 20px;
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-auto-rows: max-content;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  position: relative;
}

.home__clock {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__contacts {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__notions {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__player {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__day_night_widget {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
}

.home__calendar {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
}

.home__dock {
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}