.dock__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
  gap: 10px;
  background-color: var(--white-opacity);
  padding: 7px;
  min-width: 154px;
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 20px;
  z-index: 100;
}

.dock__button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
}

.dock__button img {
  object-fit: cover;
  overflow: hidden;
}

.dock__frame {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 25px 25px 25px;
  border-radius: 40px;
  background-color: var(--soft);
  overflow: hidden;
  z-index: 50;
}

.dock__close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--red);
  content: '';
  position: absolute;
  top: 15px;
  left: 30px;
  cursor: pointer;
  outline: none;
  border: none;
}

.dock__close:hover {
  background-image: url(/src/assets/close-x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dock__frame iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
  overflow: hidden;
}