.dock__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
  gap: 10px;
  background-color: var(--white-opacity);
  padding: 7px;
  min-width: 154px;
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 20px;
  z-index: 100;
}

.dock__button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
  border: none;
}

.dock__button:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.dock__button img {
  object-fit: cover;
  overflow: hidden;
}

