.calendar__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__cover {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 10px;
}