.battery__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.battery__icon_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 27px;
  height: 11px;
}

.battery__icon_container img {
  width: 36px;
  height: 16px;
  position: absolute;
  top: -2.5px;
  left: -2.5px;
}

.battery__fill {
  height: 100%;
  border-radius: 2px;
  background-color: var(--dark-grey);
}