.battery__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.battery__icon_container {
  width: 36px;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.battery__icon_border {
  width: 32px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid var(--dark-grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1px;
}

.battery__icon_fill {
  height: 12px;
  border-radius: 2px;
  background-color: var(--dark-grey);
}

.battery__icon_contact {
  width: 2px;
  height: 5px;
  border-radius: 0 100px 100px 0;
  background-color: var(--dark-grey);
}
