.widget__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 320px;
  border-radius: 20px;
  background-color: var(--white);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
