@import url('../../fonts/fonts.css');

.clock {
  font-family: 'Rounded Heavy', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 105px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.17em;
}

.clock span {
  display: inline-block;
}

.clock span:last-child {
  letter-spacing: 0;
}