@import url('../../fonts/fonts.css');

.clock__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 150px;
  border-radius: 20px;
  background-color: var(--white);
}

.clock {
  font-family: 'Rounded Heavy', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 130px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.14em;
}

.clock span {
  display: inline-block;
}

.clock span:last-child {
  letter-spacing: 0;
}