.Notes__header {
  width: 100%;
  height: 50px;
  background: linear-gradient(var(--yellow), var(--orange));
  position: relative;
}

.Notes__header::after {
  content: '';
  border: 1px dashed var(--light-grey);
  position: absolute;
  top: 50px;
  width: 100%;
}

.Notes__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 15px 15px;
  width: 100%;
  height: 100%;
}

h3 {
  padding-left: 10px;
}

ul {
  font-family: 'Rounded', sans-serif;
  display: flex;
  gap: 5px;
  flex-direction: column;
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  margin: 0
}

li {
  margin: 0;
  padding: 0;
  list-style: circle;
  list-style-position: inside;
}
