.status_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  z-index: 100;
  background-color: var(--white-opacity);
  padding: 5px 7%;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.status_bar__left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.status_bar__right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}