.player__container {
  width: 325px;
  height: 320px;
  border-radius: 20px;
  background-color: var(--soft);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vinyl_player {
  width: 230px;
  height: 230px;
  position: relative;
}

.ton_arm__base {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.ton_arm {
  display: flex;
  width: 70px;
  height: 190px;
  position: absolute;
  top: 10px;
  right: 6px;
  background-image: url(./vinyl-player/tone-arm.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 13;
}

.vinyl_record {
  width: 225px;
  height: 225px;
  position: relative;
}

.vinyl_record__disc {
  width: 100%;
  height: 100%;
  background-image: url(./vinyl-player/disc.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.vinyl_record__label {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(./disc-labels/roannovna.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-18deg);
  z-index: 12;
}

.multimedia_block {
  display: flex;
  width: 280px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.song__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'SF Pro', sans-serif;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song__artist {
  font-size: 12px;
  color: var(--grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song__title {
  font-size: 16px;
  color: var(--dark-grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.control__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.control__btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.control__btn img {
  object-fit: contain;
}