.player__container {
  width: 100%;
  height: 100%;
  background-color: var(--soft);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vinyl_player {
  width: 230px;
  height: 230px;
  position: relative;
}

.ton_arm__base {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.ton_arm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 70px;
  height: 190px;
  position: absolute;
  top: 10px;
  right: 6px;
  background-image: url(@/assets/player/vinyl-player/tone-arm.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 13;
  transform-box: content-box;
  transform-origin: 78.5% 8%;
  animation-timing-function: ease-in-out;
}

.is_playing .ton_arm {
  animation: wobble 3s infinite alternate;
}

@keyframes wobble {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(3deg)}
}

.vinyl_record {
  width: 225px;
  height: 225px;
  position: relative;
}

.vinyl_record__disc {
  width: 100%;
  height: 100%;
  background-image: url(@/assets/player/vinyl-player/disc.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 11;
  animation: static-spin-disc 2s alternate infinite;
  animation-delay: 3s;
}

@keyframes static-spin-disc {
  from {transform: translate(-50%, -50%) rotate(0deg)}
  to {transform: translate(-50%, -50%) rotate(2.5deg)}
}

.is_playing .vinyl_record__disc {
  animation: spin-disc 30s linear infinite;
  animation-delay: 0s;
}

@keyframes spin-disc {
  from {transform: translate(-50%, -50%) rotate(0deg)}
  to {transform: translate(-50%, -50%) rotate(360deg)}
}

.vinyl_record__label img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-18deg);
  z-index: 12;
  animation: static-spin-label 2s alternate infinite;
  animation-delay: 3s;
}

@keyframes static-spin-label {
  from {transform: translate(-50%, -50%) rotateZ(-18deg) rotate(0deg)}
  to {transform: translate(-50%, -50%) rotateZ(-18deg) rotate(2.5deg)}
}

.is_playing .vinyl_record__label img {
  animation: spin-label 30s linear infinite;
  animation-delay: 0s;
}

@keyframes spin-label {
  from {transform: translate(-50%, -50%) rotateZ(-18deg) rotate(0deg)}
  to {transform: translate(-50%, -50%) rotateZ(-18deg) rotate(360deg)}
}

.multimedia_block {
  display: flex;
  width: 280px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.song__data {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'SF Pro', sans-serif;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song__artist {
  font-size: 12px;
  color: var(--grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song__title {
  font-size: 16px;
  color: var(--dark-grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.control__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.control__btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.control__btn:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.control__btn:disabled {
  display: none;
}

.control__btn img {
  object-fit: contain;
}