:root {
  --light-pink: rgb(244, 228, 228);
  --pink: rgb(255, 213, 215);
  --dark-pink: rgb(207, 151, 153);
  --soft: rgb(240, 237, 232);
  --dark-grey: rgb(64, 64, 64);
  --grey: rgb(140, 140, 140);
  --light-grey: rgb(192, 192, 192);
  --red: rgb(255, 69, 58);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 214, 10);
  --white: rgb(255, 255, 255);
  --white-opacity: rgba(255, 255, 255, 0.55);
  --black: rgb(0, 0, 0);
  --transform-hover: scale(1.1);
  --transition-hover: transform 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  width: 100%;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  justify-self: center;
  width: 100%;
  font-family: 'SF Pro', sans-serif;
  color: var(--dark-grey);
  background-color: var(--light-pink);
  background-image: radial-gradient(circle, var(--dark-pink), var(--light-pink));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100dvh;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ant-tour {
  z-index: 9999 !important;
  font-family: "Rounded", sans-serif !important;
  color: var(--dark-grey) !important;
}

.ant-tour-inner {
  border-radius: 20px !important;
  overflow: visible !important;
}

.ant-tour-title {
  letter-spacing: 0.11rem !important;
  font-size: 16px !important;
}

.ant-tour-mask {
  z-index: 9998 !important;
}

.ant-tour-content {
  margin: 50px !important;
  position: relative;
}

.ant-tour-footer .ant-btn,
.ant-tour-prev-btn,
.ant-tour-next-btn,
.ant-btn-variant-solid,
.ant-btn-color-primary {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: transparent !important;
  padding: 0 !important;
}

.ant-tour-footer .ant-btn:hover,
.ant-tour-footer .ant-btn:focus {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: transparent !important;
}

.ant-tour-footer .ant-btn:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.ant-tour-close {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.ant-tour-close:hover,
.ant-tour-close:focus {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.ant-tour-footer {
  position: relative;
  display: flex;
  align-items: center;
}

.ant-tour-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
}

.ant-tour-prev-btn {
  position: absolute;
  left: 0;
}

.ant-tour-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* BOTTOM */
.ant-tour-placement-bottom .ant-tour-content::after,
.ant-tour-placement-bottomLeft .ant-tour-content::after,
.ant-tour-placement-bottomRight .ant-tour-content::after {
  content: "";
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background: url('./assets/tour/arrow-top.svg') no-repeat center / contain;
  pointer-events: none;
}

/* TOP */
.ant-tour-placement-top .ant-tour-content::after,
.ant-tour-placement-topLeft .ant-tour-content::after,
.ant-tour-placement-topRight .ant-tour-content::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background: url('./assets/tour/arrow-bottom.svg') no-repeat center / contain;
  pointer-events: none;
}

/* LEFT */
.ant-tour-placement-left .ant-tour-content::after,
.ant-tour-placement-leftTop .ant-tour-content::after,
.ant-tour-placement-leftBottom .ant-tour-content::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -70px;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background: url('./assets/tour/arrow-right.svg') no-repeat center / contain;
  pointer-events: none;
}

/* RIGHT */
.ant-tour-placement-right .ant-tour-content::after,
.ant-tour-placement-rightTop .ant-tour-content::after,
.ant-tour-placement-rightBottom .ant-tour-content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -70px;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background: url('./assets/tour/arrow-left.svg') no-repeat center / contain;
  pointer-events: none;
}

.ant-tour-arrow,
.ant-popover-arrow {
  display: none !important;
}