.calendar__cover {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 10px;
}

.calendar_cover__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  overflow: clip;
  overflow-clip-margin: content-box;
}