.icon_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.icon_group img:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}