#big_ray,
#small_ray {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}

#big_ray {
  animation: bigRaySun 3s infinite alternate;
}

#small_ray {
  animation: smallRaySun 2.5s infinite alternate;
}

@keyframes bigRaySun {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); opacity: 0.25; }
}

@keyframes smallRaySun {
  0% { transform: scale(1); }
  100% { transform: scale(1.07); opacity: 0.3; }
}

#dark_opacity {
  animation: darkCloudsOpacity 100s linear infinite;
}

#dark {
  animation: darkClouds 80s linear infinite;
}

#light_opacity {
  animation: lightCloudsOpacity 60s linear infinite;
}

#light {
  animation: lightClouds 40s linear infinite;
}

@keyframes darkCloudsOpacity {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}
@keyframes darkClouds {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}
@keyframes lightCloudsOpacity {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}
@keyframes lightClouds {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}




