#big_ray,
#small_ray {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}

#big_ray {
  animation: bigRaySun 3s infinite alternate;
}

#small_ray {
  animation: smallRaySun 2.5s infinite alternate;
}

@keyframes bigRaySun {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); opacity: 0.25; }
}

@keyframes smallRaySun {
  0% { transform: scale(1); }
  100% { transform: scale(1.07); opacity: 0.3; }
}

#dark_opacity {
  animation: darkCloudsOpacity 100s linear infinite;
}

#dark {
  animation: darkClouds 80s linear infinite;
}

#light_opacity {
  animation: lightCloudsOpacity 60s linear infinite;
}

#light {
  animation: lightClouds 40s linear infinite;
}

@keyframes darkCloudsOpacity {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}
@keyframes darkClouds {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}
@keyframes lightCloudsOpacity {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}
@keyframes lightClouds {
  0% { transform: translateX(0px); }
  100% { transform: translateX(300px); }
}

#waterfall #wave {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
  animation: waterfallWaves 6s linear infinite;
}

@keyframes waterfallWaves {
  0% { transform: translateY(0px); }
  100% { transform: translateY(135px); }
}

#foam_light,
#foam_dark {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation-timing-function: ease-in-out;
}

#foam_light:not(.foam_2) {
  animation: foamLight 2s infinite alternate-reverse;
}
#foam_light.foam_2 {
  animation: foamLight2 3s infinite alternate;
}
#foam_dark:not(.foam_2) {
  animation: foamDark 5s infinite alternate;
}
#foam_dark.foam_2 {
  animation: foamDark2 4s infinite alternate-reverse;
}

@keyframes foamLight {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-4px, -3px) scale(1.02); }
  100% { transform: translate(0, 0) scale(1); }
}
@keyframes foamLight2 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(4px, -3px) scale(1.03); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes foamDark {
  0% { transform: translate(-2px, 0) scale(1); }
  50% { transform: translate(-4px, -2px) scale(1.04); }
  100% { transform: translate(0, 0) scale(1); }
}
@keyframes foamDark2 {
  0% { transform: translate(2px, 0) scale(1); }
  50% { transform: translate(4px, -2px) scale(1.02); }
  100% { transform: translate(0, 0) scale(1); }
}

